@model Card
<div class="container">
	<div class="row">


		<form method="post" asp-action="Create">
			<div class="form-group">
				<label for="title">Title</label>
				<input asp-for="Title"  class="form-control" id="title" aria-describedby="emailHelp" placeholder="Title">
				<span class="text-danger" asp-validation-for="Title"></span>
			</div>

			<div class="form-group">
				<label for="Description">Description</label>
				<input asp-for="Description" class="form-control" id="Description" aria-describedby="emailHelp" placeholder="Description">
				<span class="text-danger" asp-validation-for="Description"></span>
			</div>

			<div class="form-group">
				<label for="ImagePath">ImagePath</label>
				<input asp-for="ImagePath" class="form-control" id="ImagePath" aria-describedby="emailHelp" placeholder="ImagePath">
				<span class="text-danger" asp-validation-for="ImagePath"></span>
			</div>

			<button type="submit" class="btn btn-primary">Submit</button>
			<a asp-action="Index" class="btn btn-secondary">Cancel</a>
		</form>

	</div>
</div>